body {
    margin: 0;
    padding: 0;
    background-color: #deeffc;
    font-family: sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(#75c1ff, #4DAFFF, #75c1ff);
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: cursive;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #3da7fc;
}

.navbar .selected {
    background-color: #2599f7;
}

.navbar .selected:hover {
    background-color: #2599f7
}

h1, h3 {
    text-align: center;
    text-shadow: 2px 2px #ddd;
}

#about-box-list {
    list-style-type: none;
    padding: 0;
}

#about-box-list li {
    margin: 25px 20%;
    padding: 25px;
    background-color: #bae1ff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px #83c5f7;
}

img {
    max-width: 80%;
    max-height: 200px;
    border-radius: 10px;
}

.list-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-content p {
    margin-left: 25px;
}